<%= render 'books/list1', user:@user %>
<%= render 'books/list2', book:@book %>

<% @users.each do |user| %>
<div>
  <%= link_to user_path(user.id) do %>
  <% end %>

  <p>image：</p>
  <p>name：<%= user.name %></p>


</div>
<% end %>
