

<h1>User info</h1>
<%= attachment_image_tag user, :profile_image, size: "20 x 20", fallback: "no_image.jpg" %>
<table>
    <tr>
        <th>name</th>
        <th><%= user.name %></th>
    </tr>
    <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
    </tr>
</table>






<%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog"%>