<p id="notice"><%=  notice %></p>


<h1 class="text-center">welcome to<i class="fas fa-book"></i> Bookers!!</h1></br>

<div class="text-center">
<p class="text-center">in <i class="fas fa-book"></i>Bookers</br>

you can share and exchange your opinions , inpressions , and emotions</br>
about various books!</p></br>

<% if user_signed_in? %>

  <p><%= link_to "Log in", user_path(current_user.id), class: "btn btn-info" %></p></br>
  <p><%= link_to "Sign Up", user_path(current_user.id), class: "btn btn-success" %></p>

<% else %>

  <a href="/users/sign_in"=>Log in</a>
  <a href= "/users/sign_in">Sign up</a>
   </br>
   </div>
<% end %>
