<p id="notice"><%=  notice %></p>

<div class="text-center">
<h1>welcome to<i class="fas fa-book"></i> Bookers!!</h1></br>

<div class="text-center">
<p>in <i class="fas fa-book"></i>bookers</br>
<div class="text-center">
you can share and exchange your opinions , inpressions , and emotions
<div class="text-center">
about various books!</p></br>

<% if user_signed_in? %>

  <p><%= link_to "Log in", user_path(current_user.id), class: "btn btn-info" %></p>
  </br>
  <p><%= link_to "Sign Up", user_path(current_user.id), class: "btn btn-success" %></p>
<% else %>

  <a href="/users/sign_in"=>Log in</a>
  <a href= "/users/sign_in">Sign up</a>
   </br>
<% end %>
